/* extra small */
@media(max-width:575.99px){
    .main-nav{
        background-color:black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .navbar-band{
        padding-left: 0px;
    }
    .nav-logo{
        padding-top: 10px;
        height: 35px;
        width: 160px;
    }
    .toggle-icon{
        visibility:visible;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    color: white;
    }
    .navbar-nav{
        word-spacing: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding-top: 10px;
    }
    .nav-item .active{
    color: red;
    }
    .nav-item{
        font-size: 18px;
        padding-top:8px;
       
        
        font-family: 'Poppins', sans-serif;
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
    .nav-link:hover{
        color: green;
    }
    .port{
        margin-top: 6px;
        background-color:black;
        height:auto;
        width:auto;
        display: flex;
       
        padding-top: 0px;
    }
    .redmi{
        color: white;
        font-size: 30px;
        padding-top: 5px;
        padding-right: 5px;
    }
    .sea{
        padding-left: 10px;
    }
    
    .have{
       
        font-size: 20px;
        color:white;
    }
    .number{
      padding-bottom: 10px;
        font-size: 20px;
        color:white;
    }
    /* banner section */
.banner-2{
    /* background-image:url(./images/fast.jpg); */
   /* background-blend-mode: multiply;
   background-color: rgb(0,0,0,0.6); */
      height:auto;
      width: 100%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
     text-align: center;
  }
  .for{
      padding-top: 30px;
      text-align: center;
      color:white;
      font-size: 30px;
      font-family: "Open Sans", sans-serif;
  }
  .banner-para{
      padding-top: 20px;
      text-align: center;
      color:white;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
  }
  .get{
    margin-bottom: 20px;
      cursor: pointer;
      height: 35px;
      width: 150px;
      font-size: 14px;
      border-radius: 25px;
      border-style: none;
      font-family: "Open Sans", sans-serif;
      color: black;
      background-color: green;
      margin-top: 20px;
  }
  .get:hover{
      color:black;
      background-color: yellow;
  }
  /* broken section */
.broken{
    background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }
    .broken-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .broke-img{
        height:auto;
        width:auto;
    }
    .tab{
        height: 220px;
        width: 220px;
    }
    .welcome{
        margin-left:0px;
        text-align: center;
        height:auto;
        width:auto;
    }
    .to{
        padding-top: 20px;
        color: green;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
    }
    .and{
        padding-top: 0px;
        color:black;
        font-size: 35px;
        font-family: "Open Sans", sans-serif; 
    }
    .wel-para{
        padding-top: 16px;
        color:black;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .right{
        color:black;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .tik{
        color: black;
        font-size: 15px;
        padding-top: 20px;
        padding-right: 20px;
    }
    .btn-2{
        margin-bottom: 20px;
        margin-left: 0px;
        cursor: pointer;
    height: 35px;
    width: 130px;
    font-size: 13px;
    border-radius: 25px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: green;
    margin-top: 20px;
    }
    .btn-2:hover{
        color: red;
        background-color: yellow;
    }
     /* why section */
     .why{
        background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }

    .why-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .choose{
        height:auto;
        width:auto;
        text-align: center;
    }
    .choose-head{
        color: black;
        font-size: 35px;
        padding-top: 0px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    
    .clock{
        transform: translate(-0%,-20%);
        margin-top: 0px;
         height:auto;
        width:auto;
    }
    .same{
        
        transform: translate(-400%,+110%);
        height: 30px;
        width: 30px;
    }
    .day{
        padding-top: 0px;
        color: black;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    .clock-para{
        color: black;
        font-size: 13px;
        font-family: "Poppins", sans-serif;
      
    }
    .potrait{
        height:auto;
        width:auto;
    }
    .rony{
        height:270px;
        width: 270px; 
        padding-bottom: 20px;
    }
    .footer{
        background-color: black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .first-col{
        text-align: center;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .us-one{
       
        font-size: 25px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .dev{
        height: 40px;
        width: 180px;
        padding-top: 15px;
    }
    .porem{
        padding-left:0px;
        width: 90%;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        color: white;
      
        }
        .social-media{
            display: flex;
         padding-left: 0px;
           
    }
    .tag{
        
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 11px;
        margin-top: 10px;
        margin-left: 8px;
        font-size: 1.4rem;
        cursor: pointer;
        background: #ddd;
        color: #333;
        width: 40px;
        height: 30px;
        border-radius: 100%;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }
    .tag:hover{
        transform: translateY(-15px);
    }
    .second-col{
        text-align: center;
        margin-top: 15px;
        height:auto;
        width:auto;
        padding-left: 0px;
    }
    .us-two{
        font-size: 25px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .track{
        margin-left: 0px;
        text-align: center;
        margin-top: 10px;
        padding-left: 0px;
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding-top: 7px;
    }
    .track:hover{
        color: green;
    }
    .active{
        color: red;
    }
    .third-col{
       
       margin-left: 0px;
        height:auto;
        width:auto;
        margin-top: 15px;
        padding-left: 0px;
    }
    .us-three{
        text-align: center;
       padding-left: 0px;
        font-size: 30px;
        color: #fff;
        padding-top: 15px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .post-foot{
        height:auto;
        width:auto;
       display: flex;
       display: inline;
       
    }
    .post-col{
        height: auto;
        width: 200px;
        margin-left: 0px;
    }
    .foot-head-2{
        padding-top: 10px;
        padding-left: 0px;
        font-size: 20px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    .foot-para-2{
        
        padding-top: 8px;
        font-size: 14px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    .social-foot{
        padding-top: 16px;
        padding-right: 0px;
        font-size: 23px;
        color:orange;
        transition: .5s;
    }
    .social-foot:hover{
        transform:scale(1.4);
        color:green;
        cursor: pointer;
    }
    .fourth-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        height:auto;
        width:300px;
        text-align: center;
        margin-left: 0px;
    }
    .us-four{
        padding-left: 0px;
        font-size: 25px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
   
    .mail{
        font-family: 'Poppins', sans-serif;
        padding-left: 10px;
        margin-left: 0px;
        margin-top: 30px;
        border-radius: 10px;
        border-style: none;
        height: 40px;
        width: 250px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .mail-2{
        font-family: 'Poppins', sans-serif;
        padding-left: 15px;
        padding-top: 15px;
        margin-top: 20px;
        border-radius: 10px;
        border-style: none;
        margin-left: 0px;
        height: 60px;
        width: 250px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .send{
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-left: 0px;
        margin-top: 20px;
        height: 40px;
        width: 200px;
        font-size: 16px;
        color: black;
        background-color: white;
        border-radius: 25px;
        border-style: none;
        text-align: center;
    }
    .send:hover{
        cursor: pointer;
        color: orange;
        background-color: green;
    }
    
    
}
/* small */
@media(min-width:576px) and (max-width:767.99px){
    .main-nav{
        background-color:black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .navbar-band{
        padding-left: 0px;
    }
    .nav-logo{
        padding-top: 10px;
        height: 35px;
        width: 160px;
    }
    .toggle-icon{
        visibility:visible;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    color: white;
    }
    .navbar-nav{
        word-spacing: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding-top: 10px;
    }
    .nav-item .active{
    color: red;
    }
    .nav-item{
        font-size: 18px;
        padding-top:8px;
       
        
        font-family: 'Poppins', sans-serif;
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
    .nav-link:hover{
        color: green;
    }
    .port{
        margin-top: 6px;
        background-color:black;
        height:auto;
        width:auto;
        display: flex;
       
        padding-top: 0px;
    }
    .redmi{
        color: white;
        font-size: 30px;
        padding-top: 5px;
        padding-right: 5px;
    }
    .sea{
        padding-left: 10px;
    }
    
    .have{
       
        font-size: 20px;
        color:white;
    }
    .number{
      padding-bottom: 10px;
        font-size: 20px;
        color:white;
    }
      /* banner section */
.banner-2{
    /* background-image:url(./images/fast.jpg);
   background-blend-mode: multiply;
   background-color: rgb(0,0,0,0.6); */
      height:auto;
      width: 100%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
     text-align: center;
  }
  .for{
      padding-top: 30px;
      text-align: center;
      color:white;
      font-size: 30px;
      font-family: "Open Sans", sans-serif;
  }
  .banner-para{
      padding-top: 20px;
      text-align: center;
      color:white;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
  }
  .get{
    margin-bottom: 20px;
      cursor: pointer;
      height: 35px;
      width: 150px;
      font-size: 14px;
      border-radius: 25px;
      border-style: none;
      font-family: "Open Sans", sans-serif;
      color: black;
      background-color: green;
      margin-top: 20px;
  }
  .get:hover{
      color:black;
      background-color: yellow;
  }
   /* broken section */
.broken{
    background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }
    .broken-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .broke-img{
        height:auto;
        width:auto;
    }
    .tab{
        height: 220px;
        width: 220px;
    }
    .welcome{
        margin-left:0px;
        text-align: center;
        height:auto;
        width:auto;
    }
    .to{
        padding-top: 20px;
        color: green;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
    }
    .and{
        padding-top: 0px;
        color:black;
        font-size: 35px;
        font-family: "Open Sans", sans-serif; 
    }
    .wel-para{
        padding-top: 16px;
        color:black;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .right{
        color:black;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .tik{
        color: black;
        font-size: 15px;
        padding-top: 20px;
        padding-right: 20px;
    }
    .btn-2{
        margin-bottom: 20px;
        margin-left: 0px;
        cursor: pointer;
    height: 35px;
    width: 130px;
    font-size: 13px;
    border-radius: 25px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: green;
    margin-top: 20px;
    }
    .btn-2:hover{
        color: red;
        background-color: yellow;
    }
    /* why section */
    .why{
        background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }

    .why-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .choose{
        height:auto;
        width:auto;
        text-align: center;
    }
    .choose-head{
        color: black;
        font-size: 35px;
        padding-top: 0px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    
    .clock{
        transform: translate(-0%,-20%);
        margin-top: 0px;
         height:auto;
        width:auto;
    }
    .same{
        
        transform: translate(-400%,+110%);
        height: 30px;
        width: 30px;
    }
    .day{
        padding-top: 0px;
        color: black;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    .clock-para{
        color: black;
        font-size: 13px;
        font-family: "Poppins", sans-serif;
      
    }
    .potrait{
        height:auto;
        width:auto;
    }
    .rony{
        height:270px;
        width: 270px; 
        padding-bottom: 20px;
    }
    .footer{
        background-color: black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .first-col{
        text-align: center;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .us-one{
       
        font-size: 25px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .dev{
        height: 40px;
        width: 180px;
        padding-top: 15px;
    }
    .porem{
        padding-left:0px;
        width: 90%;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        color: white;
      
        }
        .social-media{
            display: flex;
         padding-left: 0px;
           
    }
    .tag{
        
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 11px;
        margin-top: 10px;
        margin-left: 8px;
        font-size: 1.4rem;
        cursor: pointer;
        background: #ddd;
        color: #333;
        width: 40px;
        height: 30px;
        border-radius: 100%;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }
    .tag:hover{
        transform: translateY(-15px);
    }
    .second-col{
        text-align: center;
        margin-top: 15px;
        height:auto;
        width:auto;
        padding-left: 0px;
    }
    .us-two{
        font-size: 25px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .track{
        margin-left: 0px;
        text-align: center;
        margin-top: 10px;
        padding-left: 0px;
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding-top: 7px;
    }
    .track:hover{
        color: green;
    }
    .active{
        color: red;
    }
    .third-col{
       
       margin-left: 0px;
        height:auto;
        width:auto;
        margin-top: 15px;
        padding-left: 0px;
    }
    .us-three{
        text-align: center;
       padding-left: 0px;
        font-size: 30px;
        color: #fff;
        padding-top: 15px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .post-foot{
        height:auto;
        width:auto;
       display: flex;
       display: inline;
       
    }
    .post-col{
        height: auto;
        width: 200px;
        margin-left: 0px;
    }
    .foot-head-2{
        padding-top: 10px;
        padding-left: 0px;
        font-size: 20px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    .foot-para-2{
        
        padding-top: 8px;
        font-size: 14px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    .social-foot{
        padding-top: 16px;
        padding-right: 0px;
        font-size: 23px;
        color:orange;
        transition: .5s;
    }
    .social-foot:hover{
        transform:scale(1.4);
        color:green;
        cursor: pointer;
    }
    .fourth-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        height:auto;
        width:300px;
        text-align: center;
        margin-left: 0px;
    }
    .us-four{
        padding-left: 0px;
        font-size: 25px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
   
    .mail{
        font-family: 'Poppins', sans-serif;
        padding-left: 10px;
        margin-left: 0px;
        margin-top: 30px;
        border-radius: 10px;
        border-style: none;
        height: 40px;
        width: 250px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .mail-2{
        font-family: 'Poppins', sans-serif;
        padding-left: 15px;
        padding-top: 15px;
        margin-top: 20px;
        border-radius: 10px;
        border-style: none;
        margin-left: 0px;
        height: 60px;
        width: 250px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .send{
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-left: 0px;
        margin-top: 20px;
        height: 40px;
        width: 200px;
        font-size: 16px;
        color: black;
        background-color: white;
        border-radius: 25px;
        border-style: none;
        text-align: center;
    }
    .send:hover{
        cursor: pointer;
        color: orange;
        background-color: green;
    }
}
/* medium */
@media(min-width:768px) and (max-width:991.99px){
    .main-nav{
        background-color:black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }
    .navbar-band{
        padding-left: 0px;
    }
    .nav-logo{
        padding-top: 15px;
        height: 40px;
        width: 190px;
    }
    .toggle-icon{
        visibility:visible;
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 40px;
    color: white;
    }
    .navbar-nav{
        word-spacing: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding-top: 10px;
    }
    .nav-item .active{
    color: red;
    }
    .nav-item{
        font-size: 22px;
        padding-top:9px;
       font-family: 'Poppins', sans-serif;
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
    .nav-link:hover{
        color: green;
    }
    .port{
        margin-top: 10px;
        background-color:black;
        height:auto;
        width:auto;
        display: flex;
       padding-top: 0px;
    }
    .redmi{
        color: white;
        font-size: 35px;
        padding-top: 8px;
        padding-right: 8px;
    }
    .sea{
        padding-left: 10px;
    }
    
    .have{
       
        font-size: 22px;
        color:white;
    }
    .number{
      padding-bottom: 10px;
        font-size: 22px;
        color:white;
    }
      /* banner section */
.banner-2{
    /* background-image:url(./images/fast.jpg);
   background-blend-mode: multiply;
   background-color: rgb(0,0,0,0.6); */
      height:auto;
      width: 100%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
     text-align: center;
  }
  .for{
      padding-top: 40px;
      text-align: center;
      color:white;
      font-size: 35px;
      font-family: "Open Sans", sans-serif;
  }
  .banner-para{
      padding-top: 25px;
      text-align: center;
      color:white;
      font-size: 20px;
      font-family: "Open Sans", sans-serif;
  }
  .get{
    margin-bottom: 24px;
      cursor: pointer;
      height: 40px;
      width: 170px;
      font-size: 16px;
      border-radius: 25px;
      border-style: none;
      font-family: "Open Sans", sans-serif;
      color: black;
      background-color: green;
      margin-top: 20px;
  }
  .get:hover{
      color:black;
      background-color: yellow;
  }
   /* broken section */
.broken{
    background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }
    .broken-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
    }
    .broke-img{
        height:auto;
        width:auto;
    }
    .tab{
        height: 280px;
        width: 280px;
    }
    .welcome{
        margin-left:0px;
        text-align: center;
        height:auto;
        width:auto;
    }
    .to{
        padding-top: 24px;
        color: green;
        font-size: 23px;
        font-family: "Open Sans", sans-serif;
    }
    .and{
        padding-top: 10px;
        color:black;
        font-size: 39px;
        font-family: "Open Sans", sans-serif; 
    }
    .wel-para{
        padding-top: 18px;
        color:black;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .right{
        color:black;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .tik{
        color: black;
        font-size: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }
    .btn-2{
        margin-bottom: 20px;
        margin-left: 0px;
        cursor: pointer;
    height: 40px;
    width: 160px;
    font-size: 13px;
    border-radius: 25px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: green;
    margin-top: 20px;
    }
    .btn-2:hover{
        color: red;
        background-color: yellow;
    }
    /* why section */
    .why{
        background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }

    .why-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
    }
    .choose{
        height:auto;
        width:auto;
        text-align: center;
    }
    .choose-head{
        color: black;
        font-size: 40px;
        padding-top: 0px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    
    .clock{
        transform: translate(-0%,-20%);
        margin-top: 0px;
         height:auto;
        width:auto;
    }
    .same{
        
        transform: translate(-400%,+110%);
        height: 40px;
        width: 40px;
    }
    .day{
        padding-top: 0px;
        color: black;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    .clock-para{
        color: black;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
      
    }
    .potrait{
        height:auto;
        width:auto;
    }
    .rony{
        height:360px;
        width: 360px; 
        padding-bottom: 20px;
    }
    
    .footer{
        background-color: black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }
    .first-col{
        text-align: center;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .us-one{
       
        font-size: 40px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .dev{
        height: 50px;
        width: 200px;
        padding-top: 15px;
    }
    .porem{
        padding-left:0px;
        width: 90%;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        color: white;
      
        }
        .social-media{
            display: flex;
         padding-left: 0px;
           
    }
    .tag{
        
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 11px;
        margin-top: 10px;
        margin-left: 8px;
        font-size: 1.7rem;
        cursor: pointer;
        background: #ddd;
        color: #333;
        width: 50px;
        height: 40px;
        border-radius: 100%;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }
    .tag:hover{
        transform: translateY(-15px);
    }
    .second-col{
        text-align: center;
        margin-top: 15px;
        height:auto;
        width:auto;
        padding-left: 0px;
    }
    .us-two{
        font-size: 35px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .track{
        margin-left: 0px;
        text-align: center;
        margin-top: 10px;
        padding-left: 0px;
        display: block;
        text-decoration: none;
        font-size: 21px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding-top: 7px;
    }
    .track:hover{
        color: green;
    }
    .active{
        color: red;
    }
    .third-col{
       
       margin-left: 0px;
        height:auto;
        width:auto;
        margin-top: 15px;
        padding-left: 0px;
    }
    .us-three{
        text-align: center;
       padding-left: 0px;
        font-size: 37px;
        color: #fff;
        padding-top: 15px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .post-foot{
        height:auto;
        width:auto;
       display: flex;
       display: inline;
       
    }
    .post-col{
        height: auto;
        width: auto;
        margin-left: 0px;
    }
    .foot-head-2{
        padding-top: 10px;
        padding-left: 0px;
        font-size: 25px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    .foot-para-2{
        
        padding-top: 8px;
        font-size: 18px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    .social-foot{
        padding-top: 16px;
        padding-right: 0px;
        font-size: 27px;
        color:orange;
        transition: .5s;
    }
    .social-foot:hover{
        transform:scale(1.4);
        color:green;
        cursor: pointer;
    }
    .fourth-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        height:auto;
        width:300px;
        text-align: center;
        margin-left: 0px;
    }
    .us-four{
        padding-left: 0px;
        font-size: 35px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .mail{
        font-family: 'Poppins', sans-serif;
        padding-left: 10px;
        margin-left: 0px;
        margin-top: 30px;
        border-radius: 10px;
        border-style: none;
        height: 40px;
        width: 250px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .mail-2{
        font-family: 'Poppins', sans-serif;
        padding-left: 15px;
        padding-top: 15px;
        margin-top: 20px;
        border-radius: 10px;
        border-style: none;
        margin-left: 0px;
        height: 60px;
        width: 250px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .send{
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-left: 0px;
        margin-top: 20px;
        height: 40px;
        width: 200px;
        font-size: 16px;
        color: black;
        background-color: white;
        border-radius: 25px;
        border-style: none;
        text-align: center;
    }
    .send:hover{
        cursor: pointer;
        color: orange;
        background-color: green;
    }
    
    
    
}
/* large */
@media(min-width:992px) and (max-width:1199.99px){
    .main-nav{
        background-color:black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .container{
        padding-left:30px;
        padding-right: 30px;
    }
    .nav-content{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }
    .navbar-band{
        padding-left: 10px;
    }
    .nav-logo{
        padding-top: 15px;
        height: 45px;
        width: 170px;
    }
    .toggle-icon{
        visibility: hidden;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 35px;
    color: white;
    }
    .navbar-nav{
        word-spacing: 10px;
    }
    .nav-item .active{
    color: red;
    }
    .nav-item{
        font-size: 21px;
        padding-top: 30px;
       
        display: inline-block;
        font-family: 'Poppins', sans-serif;
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
    .nav-link:hover{
        color: green;
    }
    .port{
        margin-top: 10px;
        background-color:black;
        height:auto;
        width:auto;
        display: flex;
        padding-top: 15px;
    }
    .redmi{
        color: white;
        font-size: 30px;
        padding-top: 5px;
        padding-right: 5px;
    }
    .sea{
        padding-left: 8px;
    }
    
    .have{
       
        font-size: 20px;
        color: white;
    }
    .number{
      
        font-size: 20px;
        color:white;
    }
    /* banner section */
.banner-2{
    /* background-image:url(./images/fast.jpg);
   background-blend-mode: multiply;
   background-color: rgb(0,0,0,0.6); */
      height:auto;
      width: 100%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
     text-align: center;
  }
  .for{
      padding-top: 30px;
      text-align: center;
      color:white;
      font-size: 40px;
      font-family: "Open Sans", sans-serif;
  }
  .banner-para{
      padding-top: 30px;
      text-align: center;
      color:white;
      font-size: 23px;
      font-family: "Open Sans", sans-serif;
  }
  .get{
    margin-bottom: 20px;
      cursor: pointer;
      height: 40px;
      width: 180px;
      font-size: 15px;
      border-radius: 25px;
      border-style: none;
      font-family: "Open Sans", sans-serif;
      color: black;
      background-color: green;
      margin-top: 50px;
  }
  .get:hover{
      color:black;
      background-color: yellow;
  }
  /* broken section */
.broken{
    background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }
    .broken-2{
        display: flex;
        justify-content:center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .broke-img{
        height:auto;
        width:auto;
    }
    .tab{
        padding-top: 100px;
        height: 350px;
        width: 350px;
    }
    .welcome{
        margin-left: 40px;
        height:auto;
        width:auto;
    }
    .to{
        padding-top: 30px;
        color: green;
        font-size: 23px;
        font-family: "Open Sans", sans-serif;
    }
    .and{
        padding-top: 0px;
        color:black;
        font-size: 40px;
        font-family: "Open Sans", sans-serif; 
    }
    .wel-para{
        padding-top: 20px;
        color:black;
        font-size: 17px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .right{
        color:black;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .tik{
        color: black;
        font-size: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }
    .btn-2{
        margin-left: 0px;
        cursor: pointer;
    height: 43px;
    width: 160px;
    font-size: 15px;
    border-radius: 25px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: green;
    margin-top: 20px;
    }
    .btn-2:hover{
        color: red;
        background-color: yellow;
    }
     /* why section */
     .why{
        background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }

    .why-2{
        display: flex;
        justify-content:space-evenly;
        padding-top: 40px;
    }
    .choose{
        height: 400px;
        width: 400px;
    }
    .choose-head{
        color: black;
        font-size: 42px;
        padding-top: 30px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    
    .clock{
        transform: translate(-0%,-20%);
        margin-top: 0px;
        /* height: 100px; */
        width: 350px;
    }
    .same{
        
        transform: translate(-140%,+130%);
        height: 45px;
        width: 45px;
    }
    .day{
        padding-top: 0px;
        color: black;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    .clock-para{
        color: black;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
      
    }
    .potrait{
        height:auto;
        width:auto;
    }
    .rony{
        height:450px;
        width: 450px; 
    }
    .footer{
        background-color: black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .footer-content{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .first-col{
       
        height:350px;
        width:280px;
    }
    .us-one{
       
        font-size: 40px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .dev{
        height: 40px;
        width: 180px;
        
        padding-top: 20px;
    }
    .porem{
        text-align: justify;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color: white;
        padding: 1.5rem 0;
        }
        .social-media{
            display: flex;
           
           
    }
    .tag{
        
        padding-left: 10px;
        padding-top: 10px;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 1.8rem;
        cursor: pointer;
        background: #ddd;
        color: #333;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }
    .tag:hover{
        transform: translateY(-15px);
    }
    .second-col{
        text-align: center;
        height:400px;
        width:200px;
        margin-left: 0px;
    }
    .us-two{
        font-size: 26px;
        color: #fff;
        padding-top: 24px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    .track{
        text-align: center;
        margin-top: 15px;
        padding-left: 30px;
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding-top: 7px;
    }
    .track:hover{
        color: green;
    }
    .active{
        color: red;
    }
    .third-col{
      
        
        height:400px;
        width:250px;
        margin-left: 40px;
    }
    .us-three{
      
       padding-left: 0px;
        font-size: 30px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
      
    }
    
    
    .post-foot{
    margin-top: 10px;
        display: flex;
      
        height:auto;
        width:auto;
    }
    .post-col{
        margin-left: 0px;
        height:auto;
        width: 200px;
    }
    .foot-head-2{
        padding-top: 0px;
        padding-left: 0px;
        font-size: 20px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    .foot-para-2{
        padding-top: 0px;
        font-size: 15px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    
    
    .social-foot{
        padding-top: 4px;
        padding-right: 20px;
        font-size: 25px;
        color:orange;
        transition: .5s;
    }
    
    
    .social-foot:hover{
        transform:scale(1.4);
        color:green;
        cursor: pointer;
    }
    
    
    .fourth-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height:auto;
        width:auto;
       
    }
    .us-four{
        padding-left: 10px;
        font-size: 30px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
       
    }
    
    
    .mail{
        font-family: 'Poppins', sans-serif;
        padding-left: 15px;
        margin-left: 30px;
        margin-top: 30px;
        border-radius: 10px;
        border-style: none;
        height: 40px;
        width: 180px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .mail-2{
        font-family: 'Poppins', sans-serif;
        padding-left: 15px;
        padding-top: 15px;
        margin-top: 20px;
        border-radius: 10px;
        border-style: none;
        margin-left: 30px;
        height: 60px;
        width: 200px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .send{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-left: 35px;
        margin-top: 20px;
        height: 40px;
        width: 170px;
        font-size: 16px;
        color: black;
        background-color: white;
        border-radius: 25px;
        border-style: none;
        text-align: center;
    }
    .send:hover{
        cursor: pointer;
        color: orange;
        background-color: green;
    }
}
/* extra large */
@media(min-width:1200px) and (max-width:1440px){
    .main-nav{
        background-color:black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .container{
        padding-left:30px;
        padding-right: 30px;
    }
    .nav-content{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }
    .navbar-band{
        padding-left: 10px;
    }
    .nav-logo{
        padding-top: 15px;
        height: 45px;
        width: 170px;
    }
    .toggle-icon{
        visibility: hidden;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 35px;
    color: white;
    }
    .navbar-nav{
        word-spacing: 10px;
    }
    .nav-item .active{
    color: red;
    }
    .nav-item{
        font-size: 21px;
        padding-top: 30px;
       
        display: inline-block;
        font-family: 'Poppins', sans-serif;
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
    .nav-link:hover{
        color: green;
    }
    .port{
        margin-top: 10px;
        background-color:black;
        height:auto;
        width:auto;
        display: flex;
        padding-top: 15px;
    }
    .redmi{
        color: white;
        font-size: 30px;
        padding-top: 5px;
        padding-right: 5px;
    }
    .sea{
        padding-left: 8px;
    }
    
    .have{
       
        font-size: 20px;
        color: white;
    }
    .number{
      
        font-size: 20px;
        color:white;
    }
    /* banner section */
.banner-2{
    /* background-image:url(./images/fast.jpg);
   background-blend-mode: multiply;
   background-color: rgb(0,0,0,0.6); */
      height:auto;
      width: 100%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
     text-align: center;
  }
  .for{
      padding-top: 70px;
      text-align: center;
      color:white;
      font-size: 60px;
      font-family: "Open Sans", sans-serif;
  }
  .banner-para{
      padding-top: 30px;
      text-align: center;
      color:white;
      font-size: 20px;
      font-family: "Open Sans", sans-serif;
  }
  .get{
      cursor: pointer;
      height: 43px;
      width: 200px;
      font-size: 15px;
      border-radius: 25px;
      border-style: none;
      font-family: "Open Sans", sans-serif;
      color: black;
      background-color: green;
      margin-top: 50px;
      margin-bottom: 30px;
  }
  .get:hover{
      color:black;
      background-color: yellow;
  }
  /* broken section */
.broken{
    background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }
    .broken-2{
        display: flex;
        justify-content:center;
        padding-top: 50px;
    }
    .broke-img{
        height: 500px;
        width: 500px;
    }
    .tab{
        height: 500px;
        width: 500px;
    }
    .welcome{
        margin-left: 50px;
        height:500px;
        width: 700px;
    }
    .to{
        padding-top: 30px;
        color: green;
        font-size: 25px;
        font-family: "Open Sans", sans-serif;
    }
    .and{
        padding-top: px;
        color:black;
        font-size: 45px;
        font-family: "Open Sans", sans-serif; 
    }
    .wel-para{
        padding-top: 20px;
        color:black;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .right{
        color:black;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .tik{
        color: black;
        font-size: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }
    .btn-2{
        margin-left: 20px;
        cursor: pointer;
    height: 43px;
    width: 160px;
    font-size: 15px;
    border-radius: 25px;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: green;
    margin-top: 20px;
    }
    .btn-2:hover{
        color: red;
        background-color: yellow;
    }
     /* why section */
     .why{
        background-color:#F1F1F1;;
    background-blend-mode: multiply;
    
       height:auto;
       width: 100%;
       background-repeat: no-repeat;
       background-size:cover;
       background-position: center;
    }

    .why-2{
        display: flex;
        justify-content:space-evenly;
        padding-top: 50px;
    }
    .choose{
        height: 400px;
        width: 400px;
        margin-bottom: 30px;
    }
    .choose-head{
        color: black;
        font-size: 45px;
        padding-top: 30px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    
    .clock{
        transform: translate(-0%,-20%);
        margin-top: 0px;
        /* height: 100px; */
        width: 350px;
    }
    .same{
        
        transform: translate(-140%,+130%);
        height: 50px;
        width: 50px;
    }
    .day{
        padding-top: 0px;
        color: black;
        font-size: 28px;
        font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    }
    .clock-para{
        color: black;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
      
    }
    .potrait{
        height: 500px;
        width: 500px;
        margin-bottom: 30px;
    }
    .rony{
        height: 520px;
        width: 520px; 
    }
    .footer{
        background-color: black;
        height:auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .footer-content{
        display: flex;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .first-col{
       
        height:350px;
        width:280px;
    }
    .us-one{
       
        font-size: 30px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
        /* position: relative; */
    }
    /* .us-one::after{
        content: "";
        height: 3px;
        background: #e74c3c;
        position: absolute;
        width:65%;
        top: 70px;
        left: 0px;
    
    } */
    .dev{
        height: 40px;
        width: 180px;
        /* object-fit: cover; */
        padding-top: 20px;
    }
    .porem{
        text-align: justify;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color: white;
        padding: 1.5rem 0;
        }
        .social-media{
            display: flex;
           
           
    }
    .tag{
        
        padding-left: 10px;
        padding-top: 10px;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 1.8rem;
        cursor: pointer;
        background: #ddd;
        color: #333;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }
    .tag:hover{
        transform: translateY(-15px);
    }
    .second-col{
        text-align: center;
        height:400px;
        width:200px;
        margin-left: 0px;
    }
    .us-two{
        font-size: 26px;
        color: #fff;
        padding-top: 24px;
        font-family: 'Poppins', sans-serif;
        /* position: relative; */
    }
    /* .us-two::after{
        content: "";
        height: 3px;
        background: #e74c3c;
        position: absolute;
        width:100%;
        top: 70px;
        left: 0px;
    } */
    .track{
        text-align: center;
        margin-top: 15px;
        padding-left: 30px;
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding-top: 7px;
    }
    .track:hover{
        color: green;
    }
    .active{
        color: red;
    }
    .third-col{
      
        /* text-align: center; */
        height:400px;
        width:300px;
        margin-left: 25px;
    }
    .us-three{
       padding-left: 10px;
        font-size: 30px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
        /* position: relative; */
    }
    /* .us-three::after{
        content: "";
        height: 3px;
        background: #e74c3c;
        position: absolute;
        width:70%;
        top: 70px;
        left: 35px;
    } */
    
    .post{
        height:auto;
        width:200px;
    }
    .graph{
        padding-top: 5px;
        padding-left: 20px;
        font-size: 13px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    .our{
        padding-top: 2px;
        font-size: 17px;
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    
    
    .social{
        padding-top: 20px;
        padding-right: 20px;
        font-size: 20px;
        color:orange;
        transition: .5s;
    }
    
    
    .social:hover{
        transform:scale(1.4);
        color:green;
        cursor: pointer;
    }
    
    
    .fourth-col{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:auto;
        width:300px;
        /* margin-left: 80px; */
    }
    .us-four{
        padding-left: 10px;
        font-size: 30px;
        color: #fff;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
        /* position: relative; */
    }
    /* .us-four:after{
        content: "";
        height: 3px;
        background: #e74c3c;
        position: absolute;
        width:65%;
        top: 70px;
        left: 50px;
    } */
    
    .mail{
        font-family: 'Poppins', sans-serif;
        padding-left: 15px;
        margin-left: 30px;
        margin-top: 30px;
        border-radius: 10px;
        border-style: none;
        height: 40px;
        width: 180px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .mail-2{
        font-family: 'Poppins', sans-serif;
        padding-left: 15px;
        padding-top: 15px;
        margin-top: 20px;
        border-radius: 10px;
        border-style: none;
        margin-left: 30px;
        height: 60px;
        width: 200px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    .send{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-left: 35px;
        margin-top: 20px;
        height: 40px;
        width: 170px;
        font-size: 16px;
        color: black;
        background-color: white;
        border-radius: 25px;
        border-style: none;
        text-align: center;
    }
    .send:hover{
        cursor: pointer;
        color: orange;
        background-color: green;
    }
    
}